[run]
branch = True
source = buildtest
omit =
    buildtest/main.py
    buildtest/defaults.py
    buildtest/__init__.py
    buildtest/cli/edit.py
    buildtest/cli/cd.py
    buildtest/tools/docs.py
    buildtest/tools/unittests.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    def __repr__
    def __str__
    if self.debug

    buildspec_find
    config_cmd
    build_history

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if False:
    if __name__ == .__main__.:

ignore_errors = True
skip_empty = True
sort = -cover
precision = 2
[html]
directory = htmlcov

