ci:
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit weekly autoupdate'
    autoupdate_schedule: weekly

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files", "buildtest", "tests", "docs"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3


