# issue with rendering bullet points in sphinx docutils 0.17 or higher see https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file
docutils==0.16
readthedocs-sphinx-search==0.3.1
sphinx==7.2.2
sphinx-design==0.4.1
sphinx-argparse==0.4.0
sphinx-autoapi==2.1.1
sphinx-rtd-theme==1.2.2
sphinxcontrib-programoutput==0.17
sphinxext-remoteliteralinclude==0.4.0
sphinx-copybutton==0.5.2
