# issue with rendering bullet points in sphinx docutils 0.17 or higher see https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file
docutils==0.18.1
readthedocs-sphinx-search==0.3.1
# don't use sphinx > 7.2.0 because they dropped support for python 3.8. See https://www.sphinx-doc.org/en/master/changes.html for changelog
sphinx==7.1.2
sphinx-design==0.5.0
sphinx-argparse==0.4.0
sphinx-autoapi==2.1.1
sphinx-rtd-theme==1.3.0
sphinxcontrib-programoutput==0.17
sphinxext-remoteliteralinclude==0.4.0
sphinx-copybutton==0.5.2
