name: installation

on:
  pull_request:
    branches: [ devel ]


jobs:

  buildtest-installation:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-11, ubuntu-latest, ubuntu-18.04]
        python-version: [3.7, 3.8, 3.9]
        exclude:
        - os: macos-latest
          python-version: 3.8

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Buildtest Installation for os - ${{ matrix.os }}, python version - ${{ matrix.python-version }}
      env:
        OS: ${{ matrix.os }}
      run: |
        if [ $OS = "ubuntu-latest" || $OS = "ubuntu-18.04" ] ; then sudo apt-get install -y tcsh zsh; else brew install tcsh zsh ;  fi
        echo $SHELL
        $SHELL --version
        git --version
        pip install -U pip
        python --version
        source setup.sh
        which buildtest
        buildtest --version
