name: installation

on:
  pull_request:
    branches: [devel]


jobs:

  buildtest-installation:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-13, ubuntu-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.5.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: "Install Zsh and Tcsh"
      run: |
        if [[ ${{ matrix.os }} == 'ubuntu-latest' ]]; then
          sudo apt-get install -y tcsh zsh
        else
          brew install tcsh zsh
        fi
    - name: Buildtest Installation for os - ${{ matrix.os }}, python version - ${{ matrix.python-version }}, shell - bash
      env:
        OS: '${{ matrix.os }}'
      shell: bash
      run: |        
        echo "$SHELL"        
        pip install -U pip                
        source setup.sh        
        which buildtest
        buildtest --help

    - name: Buildtest Installation for os - ${{ matrix.os }}, python version - ${{ matrix.python-version }}, shell - zsh
      env:
        OS: '${{ matrix.os }}'
      shell: zsh {0}
      run: |        
        echo "$SHELL"        
        pip install -U pip                
        source setup.sh        
        which buildtest
        buildtest --help

    - uses: actions/checkout@v3
    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 30
