name: regressiontest

on:
  pull_request:
    branches: [ devel ]

jobs:

  buildtest_regtest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
        exclude:
        - os: macos-latest
          python-version: 3.8
        - os: macos-latest
          python-version: 3.9

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run buildtest unittests for os - ${{ matrix.os }}, python version - ${{ matrix.python-version }}
      env:
        OS: ${{ matrix.os }}
      run: |
        if [ $OS = "ubuntu-latest" ] ; then sudo apt-get install -y csh tcsh zsh && sudo add-apt-repository ppa:kelleyk/emacs && sudo apt-get install -y emacs27; else brew install tcsh zsh emacs ;  fi
        cat /etc/shells
        source setup.sh
        pip install pytest
        pip install coverage
        python $BUILDTEST_ROOT/buildtest/tools/unittests.py -c
        buildtest cdash upload --site=github unittests

    - uses: actions/checkout@v3
    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 30

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.0
