name: regressiontest

on:
  pull_request:
    branches: [ devel ]

jobs:

  buildtest_regtest:
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      fail-fast: false

      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run buildtest unittests for os - ${{ matrix.os }}, python version - ${{ matrix.python-version }}
      env:
        OS: ${{ matrix.os }}
      run: |
        if [ $OS = "ubuntu-latest"  ] || [ $OS = "ubuntu-22.04" ] ; then sudo apt-get install -y csh tcsh zsh && sudo add-apt-repository ppa:kelleyk/emacs && sudo apt-get install -y emacs28; else brew install tcsh zsh emacs ;  fi
        cat /etc/shells
        source setup.sh
        pip install pytest
        pip install coverage
        python $BUILDTEST_ROOT/buildtest/tools/unittests.py -c
        echo $?
        buildtest cdash upload --site=github unittests


    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 30


    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        verbose: true
