name: regressiontest

on:
  pull_request:
    branches: [ devel ]

jobs:

  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run buildtest unittests
      env:
        OS: ${{ matrix.os }}
      run: |
        if [ "OS" == "ubuntu-latest" ] ; sudo apt-get install -y tcsh zsh; else brew install tcsh zsh ;  fi
        source setup.sh
        pip install pytest
        pip install coverage
        python $BUILDTEST_ROOT/scripts/regtest.py
        buildtest cdash upload --site=github unittests

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.2
